h1.mb-4 Category Details
= render 'category', category: @category

= link_to 'Edit', edit_category_path(@category), class: 'btn btn-primary me-2'
= link_to 'Back', category_index_path, class: 'btn btn-secondary' 